.ArticlesStatus {
    padding: 0.5rem;
    text-align: center;
    font-family: "Poppins" ,"Helvetica Neue",Helvetica,Arial;
    font-weight: 500;
    font-size: 1.2rem;
}

.InputGroup {
  font-family: 'Poppins', sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  text-align: center;
}

.InputGroup input, .InputGroup select {
  font-size: 100%;
  padding: 0.6rem;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 0.7rem;
  margin-right: 1rem;
  font: 'Poppins';
}

.InputGroup label {
  font-size: 100%;
  position: absolute;
  left: 15%;
  padding: 0.8em;
  margin-left: 1em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.InputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: white;
}

.InputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

button.LearnMore {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
 width: 10rem;
 height: auto;
}


button.LearnMore .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 /* position: relative; */
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.LearnMore .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.LearnMore .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.LearnMore .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.LearnMore .ButtonText {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button.LearnMore:hover .circle {
 width: 100%;
}

button.LearnMore:hover .circle .icon.arrow {
 background: #FFFFFF;
 transform: translate(1rem, 0);
}

button.LearnMore:hover .ButtonText {
 color: #FFFFFF;
}

button.BackButton {
 display: inline-block;
 border-radius: 1.625rem;
 background-color: #282936;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 font-family: 'Poppins';
 padding: 0.75rem 0;
 width: 7rem;
 transition: all 0.3s;
 cursor: pointer;
 margin-right: 1rem;
}

button.BackButton span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.3s;
}

button.BackButton span:after {
 content: '«';
 position: absolute;
 opacity: 0;
 top: 0;
 left: -0.5rem;
 transition: 0.3s;
}

button.BackButton:hover span {
 padding-left: 0.5rem;
}

button.BackButton:hover span:after {
 opacity: 1;
}